/*
    Created on : 1/10/2017, 11:05:15 AM
    Author     : Pedro Florez
*/

.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;   
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu li.header {
    padding: 15px 25px 10px 25px;
    font-size: 12px;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu {
    list-style: none;
    /* margin: 0; */
    padding: 0;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
 

.footer_blue{
    padding: 10px 15px;
    background-color: #03A9F4;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.footer_green{
    padding: 10px 15px;
    background-color: #58D68D;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.footer_purple{
    padding: 10px 15px;
    background-color: #800080;  
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}